<div id="leaveClaim<%= level.id %>" class="reveal-modal" data-reveal>
    <h2>Курс "<%= level.name %>"</h2>
    <%= form_for claim do |f| %>
    <%= f.hidden_field :education_level_id, value: level.id %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: '' %>
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: '' %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.hidden_field :status, value: :never_saw %>
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 3 %>
    <br>
    <%= f.submit 'Оставить заявку', class: 'button' %>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
</div>