<div id="leaveClaim<%= level.id %>" class="reveal-modal" data-reveal>
    <h2>Курс "<%= level.name %>"</h2>
    <%= form_for claim, action: '#' do |f| %>
    <%= f.hidden_field :education_level_id, value: level.id %>
    <%= f.label :name, 'Ваше имя' %>
    <%= f.text_field :name, required: true, placeholder: '' %>
    <%= f.label :phone, 'Телефон' %>
    <%= f.text_field :phone, placeholder: '' %>
    <%= f.label :email, 'Электронная почта' %>
    <%= f.email_field :email %>
    <%= f.hidden_field :status, value: :never_saw %>
    <%= f.label :comment, 'Комментарий' %>
    <%= f.text_area :comment, rows: 3 %>
	
	<%= hidden_field_tag 'mc-action-2', request.original_url %>
	
	<div id="mc-2">
	    <p>Чтобы отправить заявку, повторите рисунок:</p>
	    <canvas id="mc-canvas-2"></canvas>
	</div>
    <br>
    <%= f.submit 'Оставить заявку', class: 'button mc-submit', disabled: true %>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
	<script type="text/javascript"ß>
	$(function(){	
		$('.reveal-modal .new_education_claim').motionCaptcha({
				action: '#mc-action-2',        // the ID of the input containing the form action
    			divId: '#mc-2',                // if you use an ID other than '#mc' for the placeholder, pass it in here
    			canvasId: '#mc-canvas-2',      // the ID of the MotionCAPTCHA canvas element
			    errorMsg: 'Попробуйте снова.',
			    successMsg: 'Верно!',
				shapes: ['triangle', 'x', 'rectangle', 'circle', 'check', 'zigzag', 'arrow', 'delete', 'pigtail', 'star']
		});
	})
	</script>
</div>

