<div id="leaveClaim<%= level.id %>" class="reveal-modal" data-reveal>
    <h2>Курс "<%= level.name %>"</h2>
    <%= form_for claim do |f| %>
    <%= f.hidden_field :education_level_id, value: level.id %>
    <%= f.label :name, 'Ваше имя' %>
    <%= f.text_field :name, required: true, placeholder: '' %>
    <%= f.label :phone, 'Телефон' %>
    <%= f.text_field :phone, placeholder: '' %>
    <%= f.label :email, 'Электронная почта' %>
    <%= f.email_field :email %>
    <%= f.hidden_field :status, value: :never_saw %>
    <%= f.label :comment, 'Комментарий' %>
    <%= f.text_area :comment, rows: 3 %>
	
	<%= hidden_field_tag 'mc-action', request.original_url %>
	
	<div id="mc">
	    <p>Чтобы отправить заявку, повторите рисунок:</p>
	    <canvas id="mc-canvas"></canvas>
	</div>
    <br>
    <%= f.submit 'Оставить заявку', class: 'button' %>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
	<script>
	$(function(){		
		$('#new_education_claim').motionCaptcha({
			    errorMsg: 'Пожалуйста, попробуйте снова.',
			    successMsg: 'Верно!',
				shapes: ['triangle', 'x', 'rectangle', 'circle', 'check', 'zigzag', 'arrow', 'delete', 'pigtail', 'star']
		);
	})
	</script>
</div>

