<h1>Курсы</h1>

<%= link_to 'Создать новый курс', new_education_level_path, class: 'button small info' %>
<%= link_to 'Заявки на курсы', education_claims_path, class: 'button success small' %>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Курс</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @levels.each do |level| %>
      <tr>
          <td><%= level.id %></td>
          <td>
              <h3><%= level.name %></h3>
              <div><%= raw level.description %></div>
          </td>
          <td><%= link_to edit_education_level_path(level), class: 'button', title: 'Редактировать' do %>
              <span class="glyphicons pen"></span>
            <% end %>
            <%= link_to education_level_path(level), method: :delete, class: 'button alert', title: 'Удалить', data: {confirm: 'Вы уверены?'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
      </tr>
    <% end %>
    </tbody>
</table>