<h1>Статьи</h1>

<%= link_to new_article_path, class: 'button small info' do %>
    <i class="fi-plus"></i> Создать новую статью
<% end %>

<% if @articles.any? %>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Статья</th>
      <th>Статус</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.name %></td>
        <td><%= article.status_name %></td>
        <td>
          <%= link_to edit_article_path(article), class: 'tiny button', title: 'Редактировать' do %>
              <i class="fi-pencil"></i>
          <% end %>
          <%= link_to article_path(article), method: :delete, class: 'tiny button alert', title: 'Удалить', data: {confirm: 'Вы уверены?'} do %>
              <i class="fi-x"></i>
        <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Пока не было создано ни одной статьи</p>
<% end %>