<% content_for :title, 'Зачем учить китайский' %>
<h1>Зачем учить Китайский?</h1>

<%= render partial: 'slider' %>

<p class="text-justify">В связи с умопомрачительно быстрым развитием китайской экономики, нарастающей популярностью китайской культуры и расширением российско-китайских связей, идея выучить китайский язык приходит многим. Но большинство тут же отказывается от этой затеи, так как велико заблуждение, что китайский язык чрезвычайно трудный, заговорить на нем можно только проведя полжизни на берегу реки Хуанхэ, а уж иероглифы и вовсе происки инопланетян. Именно поэтому, в первую очередь мы хотели бы развеять основные мифы о Китайском Языке. Ознакомится с ними вы можете кликнув по картинке ниже.</p>

<p class="china-text text-center"><a href="<%= myths_path %>">Мифы о китайском языке</a></p>

<p class="text-justify">Уверившись, что китайский язык не представляет из себя ничего сверхъестественного, Вы можете совершенно бесстрашно делать первые шаги на пути освоения китайского. Если Вы все же сомневаетесь - нажмите на одну из картинок ниже и Вы сможете узнать, почему стоит учить Китайский язык. </p>

<p class="china-text text-center"><a href="<%= why_chinese_union_joining_path %>">Приобщение к уникальной группе</a></p>
<hr>
<p class="china-text text-center"><a href="<%= why_chinese_self_perfection_path %>">Самосовершенствование</a></p>
<hr>
<p class="china-text text-center"><a href="<%= why_chinese_chinese_for_success_path %>">Обязательное условие успешного бизнеса</a></p>
<hr>
<p class="china-text text-center"><a href="<%= why_chinese_up_to_date_path %>">Возможность держать руку на пульсе</a></p>
<hr>
<p class="china-text text-center"><a href="<%= why_chinese_chinese_for_kids_path %>">Китайский язык для детей</a></p>