<h1>Преподаватели</h1>

<%= link_to new_teacher_path, class: 'button' do %>
    <span class="glyphicons-icon hospital"></span> Создать нового преподавателя
<% end %>

<% if @teachers.any? %>
<table style="width: 100%;">
  <thead>
    <tr>
      <th>#</th>
      <th></th>
      <th>Имя</th>
      <th>Образование</th>
      <th>Стажировка</th>
      <th>Специализация</th>
      <th>Опыт</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.id %></td>
        <td><%= image_tag teacher.avatar.url, style: 'max-width: 100% !important' %></td>
        <td><%= teacher.full_name %></td>
        <td><%= teacher.education %></td>
        <td><%= teacher.probation %></td>
        <td><%= teacher.speciality %></td>
        <td><%= teacher.years %> <%= Russian::p(teacher.years,'год','года','лет') %></td>
        <td>
          <%= link_to edit_teacher_path(teacher), class: 'button', title: 'Редактировать' do %>
            <span class="glyphicons pen"></span>
          <% end %>
          <%= link_to teacher_path(teacher), method: :delete, class: 'button alert', title: 'Удалить', data: {confirm: 'Вы уверены?'} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Пока не было создано ни одного преподавателя</p>
<% end %>

