<h1>Наши Лаоши</h1>

<p class="text-justify"><strong>Лаоши (老师)</strong>, в переводе с китайского, - <strong>«учитель»</strong> - человек, который обладает особыми знаниями, умеет заинтересовать и увлечь других людей, с особым наслаждением передает свои знания ученикам.</p>

<p class="text-justify">Преподавательский состав курсов китайского языка "Китайская грамота" - увлеченные молодые люди, крепко связавшие свою жизнь с Китаем. Каждый из них проходил долгосрочную стажировку в Китае или на Тайване и не понаслышке знает: что русскому хорошо, то китайцу смерть. Все они связаны с Китаем в профессиональной сфере и внимательно следят за событиями в сообществе отечественных и зарубежных китаеведов.</p>

<p class="text-justify">Наши энергичные и открытые всему новому преподаватели не только помогут Вам освоить китайский язык, но и поведают, что такое "Дао" (道), "Дэ" (德) и "Жэнь" (仁), откроют для вас неизведанное и помогут постичь непостижимое.</p>

<p class="text-justify">Если Вы хотите заниматься по индивидуальной программе, ищете нового хорошего репетитора, если Ваш ребенок не справляется со школьной или университетской программой китайского языка, наши репетиторы - настоящая находка! Наши преподаватели составят для Вас программу занятий, отвечающую Вашим пожеланиям, помогут Вам постигнуть азы китайского языка или же повысить Ваш уровень знаний, "подтянут" по предмету и подготовят к экзамену.</p>

<p class="text-justify">Ниже Вы можете ознакомиться с преподавательским составом "Китайской грамоты", выбрать себе репетитора и записаться на занятия по телефонам, указанным в разделе "Контакты".</p>


<% @teachers.order(:id).each do |teacher| %>
<div class="row">	
	<div class="small-3 columns"><%= image_tag teacher.avatar.url, style: 'max-width: 180% !important' %></div>
	<div class="small-7 columns">
		<h4><%= teacher.full_name %></h4>
		<% if teacher.extra? %>
			<p><%= teacher.extra %></p>
		<% end %>
		<p><strong>Образование:</strong> <%= teacher.education %></p>
		<p><strong>Стажировка:</strong> <%= teacher.probation %></p>
		<p><strong>Специализация:</strong> <%= teacher.speciality %></p>
		<p>
			<strong>Опыт работы (репетиторство):</strong> <%= teacher.years %> 
			 <%= Russian::p(teacher.years,'год','года','лет') %>
		</p>
		<% if teacher.about? %>
			<p><%= teacher.about %></p>
		<% end %>
	</div>
</div>
<hr>
<% end %>

