<h1>Типы курсов</h1>

<%= link_to new_education_type_path, class: 'button small info' do %>
    <i class="fi-plus"></i> Создать новый тип
<% end %>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Количество академических часов</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @types.each do |type| %>
      <tr>
          <td><%= type.id %></td>
          <td><%= type.name %></td>
          <td><%= type.hours %></td>
          <td>
            <%= link_to edit_education_type_path(type), class: 'button tiny', title: 'Редактировать' do %>
                <i class="fi-pencil"></i>
            <% end %>
            <%= link_to education_type_path(type), method: :delete, class: 'button alert tiny', title: 'Удалить', data: {confirm: 'Вы уверены?'} do %>
                <i class="fi-x"></i>
            <% end %>
          </td>
      </tr>
    <% end %>
    </tbody>
</table>