<%= form_for @price, url: url do |f| %>
 <div>
      <%= f.label :education_level_id, class: '' do %>
      <div class="">
          <%= f.select :education_level_id, 
          options_from_collection_for_select(Education::Level.all, :id, :name, f.object.education_level_id), 
          class: '' %>
      </div>
      <% end %>
  </div>
  <div>
      <%= f.label :education_type_id, class: '' do %>
      <div class="">
          <%= f.select :education_type_id, 
          options_from_collection_for_select(Education::Type.all, :id, :name, f.object.education_type_id), 
          class: '' %>
      </div>
      <% end %>
  </div>
  <div>
      <%= f.label :sum, class: '' %>
      <div class="">
          <%= f.number_field :sum, class: '' %>
      </div>
  </div>
  <div>
      <%= f.label :saturday, class: '' do %>
      <div class="">
          <%= f.check_box :saturday, class: '' %>
      </div>
      <% end %>
  </div>
   <div>
      <%= f.label :individual, class: '' do %>
      <div class="">
          <%= f.check_box :individual, class: '' %>
      </div>
      <% end %>
  </div>
  <br>
  <div>
      <%= f.submit 'Сохранить', class: 'button' %> или <%= link_to 'Отмена', prices_path %>
  </div>
<% end %>