<h1>Цены</h1>

<%= link_to new_price_path, class: 'button' do %>
    <span class="glyphicons-icon hospital"></span> Создать новую ценовую категорию
<% end %>

<% if @prices.any? %>
<table style="width: 100%;">
  <thead>
    <tr>
      <th>#</th>
      <th>Курс</th>
      <th>Тип</th>
      <th>Стоимость 1 ак. ч.</th>
      <th>В субботу?</th>
      <th>Индивидуальное?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.id %></td>
        <td><%= price.level.name %></td>
        <td><%= price.type.name %></td>
        <td><%= price.sum %> руб.</td>
        <td><%= price.saturday? ? 'да' : '' %></td>
        <td><%= price.individual? ? 'да' : '' %></td>
        <td>
          <%= link_to edit_price_path(price), class: 'button', title: 'Редактировать' do %>
            <span class="glyphicons pen"></span>
          <% end %>
          <%= link_to price_path(price), method: :delete, class: 'button alert', title: 'Удалить', data: {confirm: 'Вы уверены?'} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Пока не было создано ни одного альбома</p>
<% end %>