<!DOCTYPE html>
<html>
<head>
  <title>Китайская грамота</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <a class="right-off-canvas-toggle small button radius" style="position: fixed; right: 5px; top: -3px; z-index: 2" href="#" id="open-aside" >Записаться</a>
    <aside class="right-off-canvas-menu" style="background: #eee;">
      <%= render partial: 'education/claims/leave', locals: {claim: Education::Claim.new} %>    
    </aside>
  	<div class="row container">
      <%= link_to 'Оставить отзыв', '#', data: {:'reveal-id' => 'leaveComment' }, class: 'open-reveal button tiny radius', style: 'background-color: #97cc86; position: fixed; bottom: -15px; right: 5px; z-index: 50' %>
      <%= render partial: 'comments/leave_new', locals: {comment: Comment.new} %>
  		<div class="columns middle-12 small-12 large-12 small-centered">
        <div class="logo_h" style="position:relative;">
          <p class="china-text" style=" position:absolute; top:5%; left:0;"><a href="<%= root_path %>">Китайская грамота<br><small style="color: #a71010; font-size: 0.7em !important;">курсы китайского языка</small></a></p>
          <dl class="contact-logo">
            <dt>
              <%= image_tag 'metro.png', style: 'width: 20px; float: left; margin: 2px;', id: 'metro' %>
              Кузьминки</dt>
            <dd>
              <p style="margin: 0;"><span class="phone">+7 (985) 262-83-28</span></p>
              <p style="margin: 0;"><span class="phone">+7 (906) 064-57-10</span></p>
              <p style="margin: 0;"><a href="mailto:mail@kit-gramota.ru">mail@kit-gramota.ru</a></p>
            </dd>
          </dl>
  		    <%= image_tag 'banner_header.jpg', style: 'width: 100%; margin: 0 auto;' %>
        </div>  
      
  		<%= render_navigation context: :main %>
        <% if current_admin %>
          <p style="float: right;">Добро пожаловать, <strong><%= current_admin.login %></strong><br><%= link_to 'Выйти', destroy_admin_session_path, method: :delete %></p>
        <% end %>

  		<%= yield %>
      <div class="footer">
        <div class="row">
          <div class="columns middle-5 small-5 large-5">
            <h5>Курсы Китайского Языка в Москве</h5>
            <p>г. Москва, Волгоградский пр-т, д.76/2</p>
            <p><strong>+7 (985) 262-83-28</strong></p>
            <p><strong>+7 (906) 064-57-10</strong></p>
            <p><a href="mailto:mail@kit-gramota.ru">mail@kit-gramota.ru</a></p>
            <p><strong><a href="http://vk.com/kit_gramota"><%= image_tag 'vk.png', style: 'width: 30px;' %> Группа ВКонтакте</a></strong></p>
          </div>
          <div class="columns middle-7 small-7 large-7">
            <%= render_navigation context: :side %>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Китайская грамота — курсы китайского языка | All rights reserved. 2015 ©</p>
        </div>
      </div>
  		</div>
			<% if current_admin %>
			<div style="position: absolute; bottom: 0; left: 0;">
			<!-- Yandex.Metrika informer -->
				<a href="https://metrika.yandex.ru/stat/?id=28019214&amp;from=informer"
			target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/28019214/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
			style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:28019214,lang:'ru'});return false}catch(e){}"/></a>
			<!-- /Yandex.Metrika informer -->
			</div>
			<% end %>
			<!-- begin of Top100 code -->
			<div style="position: absolute; bottom: 50px; left: 0; <%= 'display: none' unless current_admin %>">
				<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2939465"></script>
				<noscript>
					<a href="http://top100.rambler.ru/navi/2939465/"><img src="http://counter.rambler.ru/top100.cnt?2939465" alt="Rambler's Top100" border="0" /></a>
				</noscript>
			</div>
			<!-- end of Top100 code -->
		
  	</div>
    <a class="exit-off-canvas"></a>
  </div>
  </div> 
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter28019214 = new Ya.Metrika({id:28019214,
	                    accurateTrackBounce:true});
	        } catch(e) { }
	    });

	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f, false);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/28019214" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter --> 
</body>
</html>
