<!DOCTYPE html>
<html>
<head>
  <title>Китайская грамота</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="row">
		<div class="small-10 small-centered middle-centered">
		<%= image_tag 'banner_header.png', style: 'width: 100%; margin: 0 10%;' %>
		<%= render_navigation context: :main %>

		<%= yield %>
		</div>
	</div>
</body>
</html>
